body {
  overflow: hidden;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
}

.App-highlight {
  color: #61dafb;
}

h1 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h2 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.App-reference {
  font-size: 0.67em;
  margin-block-start: 1em;
  margin-block-end: 2em;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  width: 100vw;
  height: 30px;
  background-color: #14161a;
  color: white;
  text-align: center;
}
