.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h2 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h3 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.33em;
  background-color: #14161a;
  color: white;
  text-align: center;
}