body {
  overflow: hidden;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  height: calc(100vh - 1.5em);
  align-content: center;
  overflow-y: auto;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 1em;
}

.App-highlight {
  color: #61dafb;
}

h1 {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
}

h2 {
  margin-block-start: 0.33em;
  margin-block-end: 0.15em;
}

h3,
h4,
h5,
h6 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.App-reference {
  font-size: 0.67em;
  margin-block-start: 2em;
  margin-block-end: 2em;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  width: 100vw;
  height: 1.5em;
  background-color: #14161a;
  color: white;
  text-align: center;
  border-top: 1px solid #080808;
}
.App-footer span {
  line-height: 1.5em;
}
